#header {
  position: fixed;
  width: 220px;
  z-index: 1000;
}
#header .pro-sidebar {
  height: 100vh;
  
}
#header .closemenu {
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: #4e73df;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #fff;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul:hover {
  background-color: #ECECEC;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item:hover {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #fff;
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  /* background-color: #fbf4cd; */
  color: #fbf4cd;
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
/* #header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
} */
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
}
#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  padding-left: 80px;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
width: 1rem;
text-align: center;
float: right;
vertical-align: 0;
border: 0;
font-weight: 900;
content: '\f105';
font-family: 'Font Awesome 5 Free';
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
content: '\f107';
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
position: relative;
}

.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
position: absolute;
transform: scale(0.7);
transform-origin: top right;
right: .25rem;
margin-top: -.25rem;
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
height: 2rem;
width: 2rem;
}

.topbar {
height: 4.375rem;
}

.topbar #sidebarToggleTop {
height: 2.5rem;
width: 2.5rem;
}

.topbar #sidebarToggleTop:hover {
background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
background-color: #dddfeb;
}

.topbar .navbar-search {
width: 25rem;
}

.topbar .navbar-search input {
font-size: 0.85rem;
height: auto;
}

.topbar .topbar-divider {
width: 0;
border-right: 1px solid #e3e6f0;
height: calc(4.375rem - 2rem);
margin: auto 1rem;
}

.topbar .nav-item .nav-link {
height: 4.375rem;
display: flex;
align-items: center;
padding: 0 0.75rem;
}

.topbar .nav-item .nav-link:focus {
outline: none;
}

.topbar .nav-item:focus {
outline: none;
}

.topbar .dropdown {
position: static;
}

.topbar .dropdown .dropdown-menu {
width: calc(100% - 1.5rem);
right: 0.75rem;
}

.topbar .dropdown-list {
padding: 0;
border: none;
overflow: hidden;
}

.topbar .dropdown-list .dropdown-header {
background-color: #4e73df;
border: 1px solid #4e73df;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
color: #fff;
}

.topbar .dropdown-list .dropdown-item {
white-space: normal;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border-left: 1px solid #e3e6f0;
border-right: 1px solid #e3e6f0;
border-bottom: 1px solid #e3e6f0;
line-height: 1.3rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image {
position: relative;
height: 2.5rem;
width: 2.5rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
height: 2.5rem;
width: 2.5rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
background-color: #eaecf4;
height: 0.75rem;
width: 0.75rem;
border-radius: 100%;
position: absolute;
bottom: 0;
right: 0;
border: 0.125rem solid #fff;
}

.topbar .dropdown-list .dropdown-item .text-truncate {
max-width: 10rem;
}

.topbar .dropdown-list .dropdown-item:active {
background-color: #eaecf4;
color: #3a3b45;
}

@media (min-width: 576px) {
.topbar .dropdown {
  position: relative;
}
.topbar .dropdown .dropdown-menu {
  width: auto;
  right: 0;
}
.topbar .dropdown-list {
  width: 20rem ;
}
.topbar .dropdown-list .dropdown-item .text-truncate {
  max-width: 13.375rem;
}
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link {
color: rgba(255, 255, 255, 0.8);
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
color: #fff;
}

.topbar.navbar-dark .navbar-nav .nav-item .nav-link:active {
color: #fff;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
color: #d1d3e2;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
color: #b7b9cc;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
color: #858796;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 10rem;
padding: 0.5rem 0;
margin: 0.125rem 0 0;
font-size: 0.85rem;
color: #858796;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #e3e6f0;
border-radius: 0.35rem;
}
.dropdown-menu-right {
right: 0;
left: auto;
}
footer.sticky-footer {
background-color: #ECECEC;
padding: 2rem 0;
flex-shrink: 0;
}

footer.sticky-footer .copyright {
line-height: 1;
font-size: 0.8rem;
}

body.sidebar-toggled footer.sticky-footer {
width: 100%;
}
.table {
width: 100%;
margin-bottom: 1rem;
color: #858796;
}

.table th,
.table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #e3e6f0;
}

.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
border-top: 2px solid #e3e6f0;
}

.table-sm th,
.table-sm td {
padding: 0.3rem;
}

.table-bordered {
border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
color: #858796;
background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
background-color: #cdd8f6;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
border-color: #a3b6ee;
}

.table-hover .table-primary:hover {
background-color: #b7c7f2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
background-color: #b7c7f2;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
background-color: #dddde2;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
border-color: #c0c1c8;
}

.table-hover .table-secondary:hover {
background-color: #cfcfd6;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
background-color: #cfcfd6;
}

.table-success,
.table-success > th,
.table-success > td {
background-color: #bff0de;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
border-color: #89e2c2;
}

.table-hover .table-success:hover {
background-color: #aaebd3;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
background-color: #aaebd3;
}

.table-info,
.table-info > th,
.table-info > td {
background-color: #c7ebf1;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
border-color: #96dbe4;
}

.table-hover .table-info:hover {
background-color: #b3e4ec;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
background-color: #b3e4ec;
}

.table-warning,
.table-warning > th,
.table-warning > td {
background-color: #fceec9;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
border-color: #fadf9b;
}

.table-hover .table-warning:hover {
background-color: #fbe6b1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
background-color: #fbe6b1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
background-color: #f8ccc8;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
border-color: #f3a199;
}

.table-hover .table-danger:hover {
background-color: #f5b7b1;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
background-color: #f5b7b1;
}

.table-light,
.table-light > th,
.table-light > td {
background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
border-color: #fbfcfd;
}

.table-hover .table-light:hover {
background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
background-color: #d1d1d5;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
border-color: #a9aab1;
}

.table-hover .table-dark:hover {
background-color: #c4c4c9;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
background-color: #c4c4c9;
}

.table-active,
.table-active > th,
.table-active > td {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
color: #fff;
background-color: #5a5c69;
border-color: #6c6e7e;
}

.table .thead-light th {
color: #6e707e;
background-color: #eaecf4;
border-color: #e3e6f0;
}

.table-dark {
color: #fff;
background-color: #5a5c69;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
border-color: #6c6e7e;
}

.table-dark.table-bordered {
border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
color: #fff;
background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
.table-responsive-sm {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive-sm > .table-bordered {
  border: 0;
}
}

@media (max-width: 767.98px) {
.table-responsive-md {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive-md > .table-bordered {
  border: 0;
}
}

@media (max-width: 991.98px) {
.table-responsive-lg {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive-lg > .table-bordered {
  border: 0;
}
}

@media (max-width: 1199.98px) {
.table-responsive-xl {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive-xl > .table-bordered {
  border: 0;
}
}

.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
border: 0;
}
.animated--grow-in {
-webkit-animation-name: growIn;
animation-name: growIn;
-webkit-animation-duration: 200ms;
animation-duration: 200ms;
-webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}